<div id="preloader">
    <div class="jumper">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>  
<!-- ***** Preloader End ***** -->

<!-- Header -->
<header class="">
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand" href="index.html"><h2>UPCOMING<em>CAR</em></h2></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about.html">About Us</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/addcar']">New Car</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html">Contact Us</a>
          </li>
          <li class="nav-item">
          <a [routerLink]="['/notification']" class="nav-link">Inbox</a>
          </li>
        </ul>
        
      </div>
      <div >
        <ul>
          <li><a href="#">Log in</a></li>
          <li><a [routerLink]="['/registration']" >Sign Up</a></li>
          </ul>
       
      </div>
      &nbsp;&nbsp;
      <a [routerLink]="['/table-list']" class="notification">
        <span>Notification</span>
        <span class="badge">5</span>
      </a>
    </div>
  </nav>
</header>
<h3> Car Details</h3>
<div>
    <div>
        <label> <b> CarId: </b></label> {{car.carId}}
    </div>
    <div>
        <label> <b> CarName: </b></label> {{car.carName}}
    </div>
    <div>
        <label> <b> Offer: </b></label> {{car.offer}}
    </div>
    <div>
        <label> <b> price: </b></label> {{car.price}}
    </div>
</div>
<!--<table>
    <tr>
        <td>CarId</td>
        <td>{{car.carId}}</td>
    </tr>
    <tr>
        <td>CarName</td>
        <td>{{car.carName}}</td>
    </tr>
    <tr>
        <td>Offer</td>
        <td>{{car.offer}}</td>
    </tr>
    <tr>
        <td>Price</td>
        <td>{{book.price}}</td>
    </tr>
</table>-->
<br>
<img src="/assets/img/car_0.jpg" height="100px" width="100px">
<br><br>