
 <div id="preloader">
	<div class="jumper">
		<div></div>
		<div></div>
		<div></div>
	</div>
</div>  
<!-- ***** Preloader End ***** -->

<!-- Header -->
<header class="">
  <nav class="navbar navbar-expand-lg">
	<div class="container">
	  <a class="navbar-brand" href="index.html"><h2>UPCOMING<em>CAR</em></h2></a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarResponsive">
		<ul class="navbar-nav ml-auto">
		  <li class="nav-item">
			<a class="nav-link" href="index.html">Home
			  <span class="sr-only">(current)</span>
			</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="about.html">About Us</a>
		  </li>
		  <li class="nav-item active">
			<a class="nav-link" [routerLink]="['/addcar']">New Car</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="contact.html">Contact Us</a>
		  </li>
		  <li class="nav-item">
		  <!--<a [routerLink]="['/registration']" class="nav-link">Register</a>-->
		  </li>
		</ul>
		
	  </div>
	  <div >
		<ul>
			&nbsp;&nbsp;	
		  <li><a href="#">Log in</a></li>
		  <li><a [routerLink]="['/registration']" >Sign Up</a></li>
		  </ul>
	   
	  </div>
	 
	</div>
  </nav>
</header>
<div class="container contact">
    <form #regform ="ngForm" id="login-form" class="form" (ngSubmit)="registerUser()" >

	<div class="row">
        
		<div class="col-md-3">
			<div class="contact-info">
				<img src="https://image.ibb.co/kUASdV/contact-image.png" alt="image"/>
				<h2>Contact Us</h2>
				<h4>We would love to hear from you !</h4>
			</div>
        </div>
		<div class="col-md-9">
			<div class="contact-form">
				<div class="form-group">
                    
				  <label class="control-label col-sm-2" for="name">Name:</label>
				  <div class="col-sm-10">          
					<input type="text" class="form-control" id="name" placeholder=" Enter Name" name="name" [(ngModel)]="user.name" required #name="ngModel" [ngClass]="{
                        'is-invalid':regform.submitted && name.invalid  }">
				  </div>
				</div>
				<div class="form-group">
				  <label class="control-label col-sm-2" for="username">Username:</label>
				  <div class="col-sm-10">          
					<input type="text" class="form-control" id="username" placeholder="Enter Username" name="username" [(ngModel)]="user.username" required #username="ngModel" [ngClass]="{
                        'is-invalid': regform.submitted && username.invalid  }">
				  </div>
				</div>
				<div class="form-group">
				  <label class="control-label col-sm-2" for="password">Password:</label>
				  <div class="col-sm-10">
					<input type="password" class="form-control" id="password" placeholder="Enter password" name="password" [(ngModel)]="user.password" required #password="ngModel" [ngClass]="{
                        'is-invalid':password.invalid  }">
                        <small class="text-danger" [class.d-none]="password.valid">Password is required field</small>
				  </div> 
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="cpassword">RetypePassword:</label>
                    <div class="col-sm-10">
                        <input type="password" name="cpassword" required id="cpassword" class="form-control" (ngModel)="user.password" #cpassword="ngModel"
                        [ngClass]="{ 'is-invalid': cpassword.invalid }" required >
                       <small class="text-danger" [class.d-none]="cpassword.value==password.value">Password and Confirm Passwod must be same</small>
                    </div>
                  </div>
                  
				
				<div class="form-group">        
				  <div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-default">Submit</button>
					<a [routerLink]="['/imageupload']" class="text-info">Upload</a>
				  </div>
                </div>
           
            </div>

        </div>
    
    </div>
    </form>
</div>


