/* You can add global styles to this file, and also import other style files */
/*body
{
    background-image: url(./assets/img/sports-car.jpeg);
    background-repeat: no-repeat;

}*/
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
