<table class="table table-striped">
  <thead>
    <tr>
      <th>CarID</th>
      <th>Name</th>
      <th>Price</th>
      <th>Photo</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let car of cars">
      <td>{{ car.carId }}</td>
      <td>{{ car.carName }}</td>
      <td>{{ car.price }}</td>
      <td>
        <!-- Display retrieved image if exists, else backend stored image, else default -->
        <img *ngIf="car.retrievedImage" [src]="car.retrievedImage" height="100" width="100" />
        <img *ngIf="!car.retrievedImage && car.imageName" [src]="'http://localhost:8091/cars/imageName/' + car.imageName" height="100" width="100" />
        <img *ngIf="!car.retrievedImage && !car.imageName" src="/assets/img/car_0.jpg" height="100" width="100" />
      </td>
      <td>
        <button (click)="updateCar(car.carId)" class="btn btn-info">Update</button>
        <button (click)="deleteCar(car.carId)" class="btn btn-danger" style="margin-left: 10px">Delete</button>
        <button (click)="carDetails(car.carId)" class="btn btn-info" style="margin-left: 10px">View</button>
      </td>
    </tr>
  </tbody>
</table>
